/* ---------------------------------- aliados -----------------------------
	------------------------------------------------------------------------------- */


.aliados{
	margin-bottom: 0;
	
	>p{
		margin: 1rem auto 3rem;
	}
	
	.img_aliados{
		grid-gap: 2rem;
		@include max-width-p;
		margin: auto;
		@include display-grid;
		@include grid-parent-3-columns (1fr, 1fr, 1fr);
		
		@media (max-width: $breakpoint_3){
			@include grid-parent-3-columns (1fr, 1fr, 1fr);
		}
		
		@media (max-width: $breakpoint_4){
			@include grid-parent-1-columns (1fr);
		}
		
		img{
			align-self: center;
			justify-self: center;
			
			@media (max-width: $breakpoint_4){
				max-width: 70%;
				margin: auto;
			}
			
			&:nth-child(1){
				width: 340px;
			}
			
			&:nth-child(2){
				width: 198px;
			}
			
			&:nth-child(3){
				width: 118px;
			}
			
			&:nth-child(4){
				width: 285px;
			}
			
		}
		
	}
	
	.btn_aliados{
		text-align: center;
		position: relative;
		margin-top: 2rem;
		
		>a{
			@include btn_dark_green;
		}
		
		>a.open{
			@include btn_dark_green_active;
		}
		
		.resutltados{
			display: none;
			position: relative;
			border: 2px solid $color_green;
			background: $color_light_grey;
			z-index: 10;
			margin: .3rem auto;
			padding: 0 1rem;
			z-index: 10;
			max-width: 40rem;
			right: 1rem;
			box-shadow: 0px 0px 20px 10px  white;
			
			.close-button{
				position: absolute;
				top: -1rem;
				right: -1rem;
				&:hover{
					opacity: .5;
				}
			}
			
			p{
				top:initial;
				margin: 1rem;
				text-align: left;
			}
			
		}
		
		.resutltados.open{
			display: block;
		}
		
	}
	
	.btn_ODS{
		position: relative;
		
		img{
			cursor: pointer;
			max-width: 6rem;
			margin: auto;
			
			&:hover{
				opacity: .7;
			}
			
		}
		
		.resultados_ODS{
			display: none;
			position: relative;
			border: 2px solid $color_green;
			background: $color_light_grey;
			z-index: 10;
			margin: 1rem auto;
			padding: 0 1rem;
			z-index: 10;
			max-width: 50rem;
			box-shadow: 0px 0px 0px 10px #fff;
			
			.close-button{
				position: absolute;
				top: -1rem;
				right: -1rem;
				&:hover{
					opacity: .5;
				}
			}
			
			p{
				top:initial;
				margin: 1rem;
				text-align: left;
			}
			
		}
		
		.resultados_ODS.open{
			display: block;
		}
		
	}
	
}




