/* ---------------------------------- aliados -----------------------------
	------------------------------------------------------------------------------- */


.aliados{
	
	div{
		grid-gap: 1rem;
		@include display-grid;
		@include grid-parent-4-columns (1fr, 1fr, 1fr, 1fr);
		
		@media (max-width: $breakpoint_3){
			@include grid-parent-2-columns (1fr, 1fr);
		}
		
		@media (max-width: $breakpoint_4){
			@include grid-parent-1-columns (1fr);
		}
		
		img{
			align-self: center;
			justify-self: center;
			
			&:nth-child(1){
				width: 340px;
			}
			
			&:nth-child(2){
				width: 198px;
			}
			
			&:nth-child(3){
				width: 118px;
			}
			
			&:nth-child(4){
				width: 285px;
			}
			
		}
		
	}
	
}




