/* ---------------------------------- aplicar -----------------------------
	------------------------------------------------------------------------------- */


.aplicar{
	
	div{
		text-align: center;
		padding: 0 2rem;
		background: $color_green_dark;
	
		h1{
			margin: 2rem 0;
			color: $color-brand-white;
			
			&:after{
				display: none;
			}
			
		}
		
		a{
			top: -0.3rem;
			@include btn_lime;
			
			@media (max-width: $breakpoint_1){
				margin-bottom: 2rem;
			}
			
		}
	
	}
	
}




