/* ---------------------------------- convocatoria -----------------------------
	------------------------------------------------------------------------------- */


.convocatoria{
	margin-top: 8rem;
	
	div{
		position: relative;
		padding: 2rem 5rem;
		background: $color_lime;
		
		@media (max-width: $breakpoint_1){
			padding: 2rem;
		}
		
		@media (max-width: $breakpoint_1){
			padding: 2rem 2rem 0;
			text-align: center;
		}
		
		h3{
			margin-left: 1rem;
		}
		
		img{
			position: absolute;
			max-width: 350px;
			bottom: 0;
			right: 10%;
			
			@media (max-width: $breakpoint_1){
				right: 2%;
			}
			
			@media (max-width: $breakpoint_2){
				max-width: 250px;
			}
			
			@media (max-width: $breakpoint_3){
				position: relative;
				max-width: 350px;
				margin: 2rem auto 0;
				right: initial;
				bottom: initial;
			}
			
			@media (max-width: $breakpoint_4){
				max-width: 200px;
			}
		
		}
		
	}
	
}




