/* ---------------------------------- donar -----------------------------
	------------------------------------------------------------------------------- */


.donar{
	margin: 2rem auto;
	grid-gap: 1rem;
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1fr);
	
	@media (max-width: $breakpoint_4){
		margin: 9rem auto 2rem;
		text-align: center;
		@include grid-parent-1-columns (1fr);
	}
	
	.btn_ODS{
		position: relative;
		@include grid-child-column (1, 2);
		@include grid-child-row (1, 2); 
		
		@media (max-width: $breakpoint_4){
			justify-self: center;
		}
		
		img{
			cursor: pointer;
			max-width: 11rem;
			
			@media (max-width: $breakpoint_3){
				max-width: 8rem;
			}
			
			&:hover{
				opacity: .7;
			}
			
		}
		
		.resultados_ODS{
			display: none;
			position: absolute;
			border: 2px solid $color_green;
			background: $color_light_grey;
			z-index: 10;
			margin: 1rem auto;
			padding: 0 1rem;
			z-index: 10;
			max-width: 40rem;
			box-shadow: 0px 0px 0px 10px #fff;
			
			@media (max-width: $breakpoint_4){
				width: 210px;
				left: -45%;
			}
			
			.close-button{
				position: absolute;
				top: -1rem;
				right: -1rem;
				&:hover{
					opacity: .5;
				}
			}
			
			p{
				top:initial;
				margin: 1rem;
				text-align: left;
			}
			
		}
		
		.resultados_ODS.open{
			display: block;
		}
		
	}
	
	.btn_donar{
		position: relative;
		text-align: right;
		@include grid-child-column (2, 3);
		@include grid-child-row (1, 2);
		
		@media (max-width: $breakpoint_4){
			justify-self: center;
			@include grid-child-column (1, 2);
			@include grid-child-row (2, 3);
		}
		
		>a{
			@include btn_dark_green;
			font-size: 19px;
		}
		
		>a.open{
			@include btn_dark_green_active;
			font-size: 19px;
		}
		
		.resultados_donar{
			display: none;
			position: absolute;
			border: 2px solid $color_green;
			background: $color_light_grey;
			z-index: 10;
			margin: .9rem auto;
			padding: 0 1rem;
			z-index: 10;
			max-width: 40rem;
			right: 1rem;
			box-shadow: 0px 0px 0px 10px  white;
			
			@media (max-width: $breakpoint_4){
				width: 120%;
				left: -25%;
			}
			
			.close-button{
				position: absolute;
				top: -1rem;
				right: -1rem;
				&:hover{
					opacity: .5;
				}
			}
			
			p{
				top:initial;
				margin: 1rem;
				text-align: left;
			}
			
		}
		
		.resultados_donar.open{
			display: block;
		}
		
	}
	
}




