/* ---------------------------------- resultados -----------------------------
	------------------------------------------------------------------------------- */


.resultados{
	grid-gap: 3rem;
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1fr);
	
	@media (max-width: $breakpoint_3_1){
		@include grid-parent-1-columns (1fr);
	}
	
	div{
		text-align: center;
		position: relative;
		padding: 2rem 2rem 1rem;
		
		h3{
			@include font_universal (
				$font_family_line_height: 26px,
				$font_family_weight: 300,
				$font_family_size: 24px,
				$font_family_color: $color_green_dark,
				$font_family_letter_spacing: 0,
				$font_family_group: $font_acherus_black
			);
		}
		
		a{
			@include btn_green;
		}
		
		a.open{
			@include btn_green_active;
		}
		
	}
	
	.resultados_convocatoria{
		background: $color_light_grey url('../images/svg/resultados-convocatoria.svg');
		background-repeat: no-repeat;
		background-position: 60% 80%;
		
		.resultados_consultar{
			display: none;
			position: absolute;
			position: absolute;
			border: 2px solid $color_green;
			background: $color-brand-white;
			z-index: 10;
			margin: 0 2rem;
			padding: 0 1rem;
			
			.close-button{
				position: absolute;
				top: -1rem;
				right: -1rem;
				&:hover{
					opacity: .5;
				}
			}
			
		}
		
		.resultados_consultar.open{
			display: block;
		}
		
	}
	
	.otras_becas{
		background: $color_light_grey url('../images/svg/para-otras-becas.svg');
		background-repeat: no-repeat;
		background-position: 60% 190%;
	}
	
}




