extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Aliados Estratégicos

//- Content page
block content

	+header-pages('../../images/photos/aliados-estrategicos-banner.png','Aliados estratégicos','Aliados estratégicos')
				
	
	
	section.aliados
	
		p Buscando escribir más historias con el corazón, la Universidad El Bosque se encuentra en una constante búsqueda de nuevos Aliados Estratégicos que quieran ayudar a sus colaboradores y a sus familiares a realizar su sueño de la Educación Superior. Al firmar nuestra Carta Convenio, los colaboradores de nuestros aliados, sus cónyuges e hijos podrán acceder al 10% de descuento sobre el valor de la matrícula.  
		
		div.img_aliados_2
			img(src="images/photos/aliados-2.png" alt="Que tu formación profesional no pare - Avanza en tus estudios profesionales con 3 compañeros de tu empresa y cada un recibirá un apoyo económico del 20%")
			img(src="images/photos/aliados-1.png" alt="Que tu formación profesional no pare - Nos aliamos con pequeñas, medianas y grandes empresas para que sus colaboradores avances en sus estudios profesionales recibiendo un apoyo económico del 20%")
			
		div.btn_aliados
			a Quiero Ser Aliado Estratégico
			div.resutltados.resultados_aliados
				img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
				p Juntos podemos aportar al acceso a la Educación Superior de Calidad. Al convertirte en uno de nuestros Aliados Estratégico tus colaboradores sus cónyuges e hijos podrán acceder a un beneficio del 10% para pregrados, posgrados y educación continuada. Si estas interesado, has clic en el siguiente enlance <a href="https://forms.gle/1JxzP4JqKpbM83p5A" target="_blank">https://forms.gle/1JxzP4JqKpbM83p5A.</a> No aplica para: Medicina, química farmacéutica, y posgrados médico-quirúrgicos. 
				
		+boton-ods
			
			
	+footer
	
	
	
	
	