extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Programa CreSer

//- Content page
block content

	header
		div.content
			nav
				ul
					li
						a(href='https://www.unbosque.edu.co' target='_blank'): img(src="images/svg/Logo-universidad.svg" alt="Logo-universidad" )
					li
						a.txt Apoyos económicos
						
			
			div
				img(src="images/photos/estudiante.png" alt="Estudiante")
			div
				img(src="images/svg/programa-creser.svg" alt="Programa CreSer")
				a(href='#becas') Conoce más
			div
				img(src="images/photos/monedas.png" alt="Apoyo")
			div
				img(src="images/photos/profesional.png" alt="Profesional")
			
	
	section.becas#becas
		h1 Becas abiertas
		h5 *Para las Facultades de Ingeniería y Creación y Comunicación
		
		div.cards-content
			div.cards
				img(src="images/photos/excelencia-academica.png" alt="Excelencia académica")
				div.box
					h2 Excelencia académica - Permanencia
					p Mejor promedio de cada programa y que se encuentre cursando desde el primer hasta el último semestre, en los programas de pregrado.
				div.acordion1.accordions.mobile
					a Más Información
					+acordion-1
								
			div.cards
				img(src="images/photos/grupos-especiales.png" alt="Grupos especiales")
				div.box
					h2 Grupos especiales
					p Dirigida a estudiantes que hayan finalizado la ruta de la reintegración de forma exitosa,  personas provenientes del programa de víctimas del gobierno nacional, a los huérfanos del ICBF y/o a ex miembros de la fuerza pública en situación de discapacidad, a sus familias, y a las viudas y huérfanos de la nación o que pertenezcan a poblaciones especiales (etnias) que sean admitidos en los diferentes programas de pregrado
				div.acordion2.accordions.mobile
					a Más Información
					+acordion-2
						
			div.cards
				img(src="images/photos/merito-academico.png" alt="Merito académico")
				div.box
					h2 Mérito Académico y necesidad socio - económica
					p Ayuda económica, que la Universidad proporciona a los estudiantes de pregrado que cursen desde segundo semestre en adelante, con mérito académico y comprobada necesidad socioeconómica.
				div.acordion3.accordions.mobile
					a Más Información
					+acordion-3
						
							
		
		div.acordion_desktop
			+acordion-1
			+acordion-2
			+acordion-3
			
		
		div.cards-content
			div.cards
				img(src="images/photos/programa-semillas.png" alt="Programa semillas")
				div.box
					h2 Programa Semillas
					p Buscamos formar grandes profesionales y dar apoyo económico a estudiantes de escasos recursos con un alto rendimiento académico, beneficiando su calidad de vida a través de su formación de pregrado y del entorno universitario que ofrece nuestra institución.
				div.acordion4.accordions.mobile
					a Más Información
					+acordion-4
								
			div.cards
				img(src="images/photos/enocnomia-naranja.png" alt="Economáa naranja")
				div.box
					h2 Economía Naranja Banco de Bogotá
					p Buscamos apoyar las carreras en el marco de las industrias creativas y la cultura como un motor de desarrollo para el país.
				div.acordion5.accordions.mobile
					a Más Información
					+acordion-5
						
			div.cards
				img(src="images/photos/fundacion-bolivar.png" alt="Fundación bolivar")
				div.box
					h2 Becas al Talento - Fundación Bolívar Davivienda
					p Para evitar la deserción de jóvenes destacados por su desempeño académico en la vida universitaria, la Fundación Bolívar Davivienda ha creado el programa Becas Crédito por la Excelencia, que está dirigido a estudiantes de pregrado con altas calificaciones, que se encuentren cursando entre 5to y 8vo semestre, y que estén atravesando por dificultades económicas que les impidan la continuidad de su proceso formativo.
				div.acordion6.accordions.mobile
					a Más Información
					+acordion-6
				
		
		div.acordion_desktop
			+acordion-4
			+acordion-5
			+acordion-6
			
		
	section.convocatoria
		div
			h2 Convocatoria
			h3 Fecha de Apertura: 15 mayo 2020
			h3 Fecha de Cierre: 15 junio 2020
			img(src="images/photos/convocatoria.png" alt="convocatoria")
			
	
	section.interesar
		h1 Te puede interesar
		div.video
			div.embed-container
				<iframe src="https://www.youtube.com/embed/lZSs6pogoPQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			
			
	section.requisitos
		div.image
			img(src="images/photos/requisitos.png" alt="requisitos")
		div.txt
			h1 Requisitos
			ul
				li Promedio acumulado mínimo 3.8
				li No ser beneficiario de otra beca.
				li No haber perdido asignaturas.
				li Matricular todos los créditos.
				li Estar a paz y salvo con la Universidad.
				li No presentar fallas disciplinarias.
				li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
				li Los beneficios económicos otorgados no son acumulables.
				
				
	section.aplicar
		div
			h1 Aplica a través del siguiente formulario
			a(href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank") Aplicar
			
			
	section.resultados
		div.resultados_convocatoria
			h3 Resultados convocatoria 2020 -2
			a Consultar
			div.resultados_consultar
				p Aquí podrás consultar si has sido elegido como beneficiario de alguno de nuestros Apoyos Económicos
				
		div.otras_becas
			h3 Para otras Becas: Acuerdo 14608 de 2017
			a(href="pdf/politica-de-becas-universidad-el-bosque.pdf" target="_blank") Consultar
			
			
	section.aliados
		h1 Aliados estratégicos
		div
			img(src="images/photos/logo-banco-bogota.png" alt="Banco de bogotá")
			img(src="images/photos/fundacion-bolivar-davivienda.png" alt="Fundación bolivar davivienda")
			img(src="images/photos/fundacion-tomas-rueda.png" alt="Fundación tomas rueda")
			img(src="images/photos/parqueaderos-tequendama.png" alt="Parqueaderos tequendama")
			
			
	footer
		hr
		p <b>Mayor información: <a href="mailto:apoyoseconomicos@unbosque.edu.co" target="_blank">apoyoseconomicos@unbosque.edu.co</a> <br/> Extensiones 1910 - 1124</b>
	
	
	
	
	