extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Programa CreSer

//- Content page
block content
	
	//- pop-up
	+pop-up-enter
	
	
	
	//- Header section banner
	+header-home
	
	
	
	section.donar
				
		div.btn_donar
			a Dona aquí
			div.resutltados.resultados_donar
				img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
				p Pronto podrás donar por este medio al Fondo de Becas de la Universidad El Bosque y así ayudar a jóvenes colombianos a cumplir su sueño de la educación superior.
			
	
	section.becas#becas
		h1 Becas abiertas
		//- h5 *Para las Facultades de Ingeniería y Creación y Comunicación
		
		
		div.container_slider
			div.slider-becas
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/excelencia-academica-home.png" alt="Excelencia académica")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/grupos-especiales-home.png" alt="Grupos especiales")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/merito-academico-home.png" alt="Mérito académico")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/programa-semillas-home.png" alt="Programa semillas")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/enocnomia-naranja-home.png" alt="Economia naranja")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/fundacion-bolivar-home.png" alt="Fundación bolivar")
			
				
			span.next.slick-arrow
				img(src="../../images/svg/prev.svg" alt="prev")
			span.prev.slick-arrow
				img(src="../../images/svg/next.svg" alt="next")
				
		div.btn_more
			a.btn_dark_green(href='../../apoyos-economicos.html') Ver todas las becas
		
	
	section.becas
		h1 Opciones de financiación	
		
		.container_slider
			div.slider-becas-2
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/lumni.png" alt="Lumni")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/banco-pichincha-credity.png" alt="Banco pichincha credity")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/icetex.png" alt="Icetex")
					
			span.next2.slick-arrow
				img(src="../../images/svg/prev.svg" alt="prev")
			span.prev2.slick-arrow
				img(src="../../images/svg/next.svg" alt="next")
		
		div.btn_more
			a.btn_dark_green(href='../../opciones-de-financiacion.html') Ver más información
		
		
	section.convocatoria
		div
			h2 Convocatoria
			h3 Fecha de Apertura: 18 mayo 2020
			h3 Fecha de Cierre: 19 junio 2020
			img(src="images/photos/convocatoria.png" alt="convocatoria")
			
	
	+te-puede-interesar
			
			
	section.aliados
		+boton-ods

			
			
	+footer
	
	
	
	
	