extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Programa CreSer

//- Content page
block content
	
	//- pop-up
	+pop-up-enter
	
	
	
	//- Header section banner
	+header-home
	
	
	
	section.donar
				
		div.btn_donar
			a Dona aquí
			div.resutltados.resultados_donar
				img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
				p Pronto podrás donar por este medio al Fondo de Becas de la Universidad El Bosque y así ayudar a jóvenes colombianos a cumplir su sueño de la educación superior.
			
	
	section.becas#becas
		h1 Becas abiertas
		//- h5 *Para las Facultades de Ingeniería y Creación y Comunicación
		
		
		div.container_slider
			div.slider-becas
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/excelencia-academica-home.png" alt="Excelencia académica")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/grupos-especiales-home.png" alt="Grupos especiales")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/merito-academico-home.png" alt="Mérito académico")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/programa-semillas-home.png" alt="Programa semillas")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/enocnomia-naranja-home.png" alt="Economia naranja")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/fundacion-bolivar-home.png" alt="Fundación bolivar")
			
				
			span.next.slick-arrow
				img(src="../../images/svg/prev.svg" alt="prev")
			span.prev.slick-arrow
				img(src="../../images/svg/next.svg" alt="next")
				
		div.btn_more
			a.btn_dark_green(href='../../apoyos-economicos.html') Ver todas las becas
		
	
	section.becas
		h1 Opciones de financiación	
		
		.container_slider
			div.slider-becas-2
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/lumni.png" alt="Lumni")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/banco-pichincha-credity.png" alt="Banco pichincha credity")
					
				div.cards
					a(href='../../apoyos-economicos.html'): img(src="images/photos/icetex.png" alt="Icetex")
					
			span.next2.slick-arrow
				img(src="../../images/svg/prev.svg" alt="prev")
			span.prev2.slick-arrow
				img(src="../../images/svg/next.svg" alt="next")
		
		div.btn_more
			a.btn_dark_green(href='../../apoyos-economicos.html') Ver más información
		
		
	section.convocatoria
		div
			h2 Convocatoria
			h3 Fecha de Apertura: 18 mayo 2020
			h3 Fecha de Cierre: 19 junio 2020
			img(src="images/photos/convocatoria.png" alt="convocatoria")
			
	
	section.interesar
		h1 Te puede interesar
		div.container_slider_video
		
			div.slider-videos
				div.video
					div.embed-container
						<iframe src="https://www.youtube.com/embed/lZSs6pogoPQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						
				div.video
					div.embed-container
						<iframe src="https://www.youtube.com/embed/l-CM-qnVl9g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						
			span.next1.slick-arrow
				img(src="../../images/svg/prev.svg" alt="prev")
			span.prev1.slick-arrow
				img(src="../../images/svg/next.svg" alt="next")
			
			
	section.requisitos
		div.image
			img(src="images/photos/requisitos.png" alt="requisitos")
		div.txt
			h1 Requisitos Generales
			ul
				li Promedio acumulado mínimo 3.8
				li No ser beneficiario de otra beca.
				li No haber perdido asignaturas.
				li Matricular todos los créditos.
				li Estar a paz y salvo con la Universidad.
				li No presentar fallas disciplinarias.
				li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
				li Los beneficios económicos otorgados no son acumulables.
				li Verificar requisitos específicos de cada beca Acuerdo 14608 2017.
				
				
	section.aplicar
		div
			h1 Aplica a través del siguiente formulario
			a(href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank") Aplicar
			
			
	section.resultados
		div.resultados_convocatoria
			h3 Resultados convocatoria 2020 -2
			a Consultar
			div.resultados_consultar
				img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
				p Aquí podrás consultar si has sido elegido como beneficiario de alguno de nuestros Apoyos Económicos. Los resultados para el periodo 2020-2 serán publicados el 10 de julio del 2020
				
		div.otras_becas
			h3 Para otras Becas: Acuerdo 14608 de 2017
			a(href="pdf/politica-de-becas-universidad-el-bosque.pdf" target="_blank") Consultar

			
			
	+footer
	
	
	
	
	