extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Preguntas Frecuentes

//- Content page
block content

	+header-pages('../../images/photos/estudiante-preguntas-frecuentes-banner.png','Preguntas frecuentes','Preguntas frecuentes')
				
	
	
	section.qa
		div.content_qa
			div.qas
				p ¿Puedo aplicar a varios apoyos económicos? 
				a.qa1
				div.resutltados.resultados_qa1
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p No, debes elegir el que más se ajuste a tu situación. Te recomendamos leer el Acuerdo 14608 para más información
					
			div.qas
				p ¿Son acumulables los descuentos?  
				a.qa2 
				div.resutltados.resultados_qa2
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p No, solo se podrá aplicar un descuento. 
					
			div.qas
				p Si he perdido alguna materia en semestres anteriores, ¿puedo aplicar? 
				a.qa3 
				div.resutltados.resultados_qa3
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p Desde la Universidad buscamos que el programa de Apoyos Económicos beneficie a los estudiantes excelentes, por este motivo, no pueden aplicar aquellos estudiantes que hayan perdido una materia anteriormente.
					
			div.qas
				p ¿Debo participar en el programa de compensación de horas? 
				a.qa4 
				div.resutltados.resultados_qa4
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p Si, todos los estudiantes que reciban algún apoyo económico deberán participar en el Programa de Compensación coordinado por la Dirección de Bienestar Universitario a excepción de los Tutores Pares de Éxito Estudiantil.
					
			div.qas
				p ¿Es mi apoyo económico renovable? 
				a.qa5 
				div.resutltados.resultados_qa5
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p Depende de los requisitos específicos del apoyo solicitado, te recomendamos leer el Acuerdo 14608 para más información.
					
			div.qas
				p ¿Debo mantener siempre los requisitos iniciales? 
				a.qa6 
				div.resutltados.resultados_qa6
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p Si, de lo contrario, el Apoyo Económico será revocado
					
					
			div.qas
				p ¿Es para toda la carrera mi apoyo económico?
				a.qa7 
				div.resutltados.resultados_qa7
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p Depende de los requisitos específicos del apoyo solicitado, te recomendamos leer el Acuerdo 14608 para más información.
					
			div.qas
				p ¿Puedo presentarme después de la fecha estipulada? 
				a.qa8 
				div.resutltados.resultados_qa8
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p No, la recepción de solicitudes será cerrada en la fecha estipulada y no se aceptarán más solicitudes.
					
					
			div.qas
				p ¿Qué pasa si no adjuntos todos los soportes? 
				a.qa9 
				div.resutltados.resultados_qa9
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p Es importante tener en cuenta que recibimos muchas solicitudes. Cada caso es importante para nosotros y los evaluamos detalladamente, por esto, te recomendamos adjuntar todos los documentos ya que estos juegan un papel determinante en la selección. 
					
					
			div.qas
				p ¿Dónde encuentro el Formulario de Solicitud?  
				a.qa10
				div.resutltados.resultados_qa10
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p Puedes aplicar en el siguiente link  <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
					
					
			div.qas
				p ¿Cómo podré conocer los resultados finales? 
				a.qa11
				div.resutltados.resultados_qa11
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p Tras la finalización del periodo de postulación, el Comité de Becas se reunirá. Tan pronto como tengamos los resultados, los podrás consultar por esta página web y recibirás un correo electrónico.
					
					
			div.qas
				p Qué pasa una vez diligenciado el formulario? 
				a.qa12
				div.resutltados.resultados_qa12
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p Una vez lo hayas enviado, te llegará una copia a tu email, así tendrás un soporte de tus respuestas. Por favor, no elimines este correo electrónico. 
					
					
			div.qas
				p ¿A donde me puedo comunicar en caso de tener más preguntas? 
				a.qa13
				div.resutltados.resultados_qa13
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p Podrás comunicarte al correo electrónico <a href="mailto:apoyoseconomicos@unbosque.edu.co" target="_blank">apoyoseconomicos@unbosque.edu.co</a> y a las extensiones 1910 y 1124. 
					
			div.qas
				p ¿Qué documentos debo tener escaneados para adjuntar a mi solicitud?
				a.qa14
				div.resutltados.resultados_qa14
					img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
					p Deberás adjuntar en 1 sólo archivo en formato PDF, los siguientes documentos soporte, para el estudio de tu solicitud:
					ul
						li Certificados de ingresos o constancia laboral (con un tiempo de expedición no mayor a un mes) de los padres o persona de quien depende económicamente el estudiante
						li Certificado acumulado de notas
						li Recibo de servicio público del lugar de residencia
						li Otros documentos en caso que aplique como: certificados de defunción, certificados de enfermedad o discapacidad, declaración de insolvencia económica, Certificado Ministerio del Interior - Minorías, Certificados de Dependencia Económica, u otros que consideres. 
					p Recuerda que para evaluar de manera adecuada tu postulación, debemos contar con todos los soportes necesarios, de lo contrario, es posible que esta no sea aprobada. 

			
			
	
			
			
	+footer
	
	
	
	
	