//- ----------------------------
//- ---------------------------- pop up enter ------------------------------- //
//- ----------------------------

mixin pop-up-enter
	div.popup-enter
		div.resutltados.resultados_popup_enter
			img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
			p Te informamos que debido a la coyuntura del COVID-19 y al beneficio del 15% para estudiantes antiguos de pregrado y del 10% para nuevos estudiantes (a excepción de medicina y postgrados medicoquirúrgicos), para el periodo 2020-II ponemos a tu disposición las convocatorias a los siguientes Apoyos Económicos y Opciones de Financiación:
			ul
				li Excelencia Académica
				ul
					li Acceso Prueba Saber 11
					li Permanencia
					li Graduandos
					li Beca de Honor
				li Grupos Especiales
				li Programa Semillas
				li Becas al Talento – Fundación Bolívar Davivienda
				li Economía Naranja – Banco de Bogotá
				li Beneficios a Egresados
			p Además, buscando que cumplas tu sueño de la educación superior, tendrá a tu disposición las siguientes opciones de financiación 
			ul
				li Programa todos en el Aula - Lumni
				li Pichincha Credyty
				li ICETEX
			p Te invitamos a conocer los requisitos específicos y generales para el acceso. Recuerda, los beneficios no son acumulables, reembolsables ni de carácter retroactivo. Los resultados de la convocatoria a Apoyos Económicos para el periodo 2020-2 serán publicados el 10 de julio del 2020.

//- ----------------------------
//- ---------------------------- header menu ------------------------------- //
//- ----------------------------
mixin header-back-u
	div.back
		section
			<a href="https://www.unbosque.edu.co" target="_blank"><i class="fas fa-caret-left"></i> Ir a la Universidad El Bosque</a>

mixin nav-header
	nav
		ul
			li
				a(href='../../'): img(src="images/svg/Logo-universidad.svg" alt="Logo-universidad" )
			
		ul
			li
				a.txt(href='../../apoyos-economicos.html') Apoyos económicos
			li
				a.txt(href='https://financiacion.unbosque.edu.co' target='_blank') Opciones de financiación
			//-li
				a.txt(href='../../preguntas-frecuentes.html') Preguntas frecuentes
			li
				a.txt(href='../../aliados-estrategicos.html') Aliados estratégicos
				

mixin header-home
	+header-back-u
	header
		div.content
			+nav-header
			
			div
				img(src="images/photos/estudiante.png" alt="Estudiante")
			div
				img(src="images/svg/programa-creser.svg" alt="Programa CreSer")
				//-a(href='#becas') Conoce más
			div
				img(src="images/photos/monedas.png" alt="Apoyo")
			div
				img(src="images/photos/profesional.png" alt="Profesional")
				
			div.vigilada
				span Vigilada Mineducación
				
				

mixin header-pages(urlimg, alttext, textobanner)
	+header-back-u
	header.pages
		div.content
			+nav-header
			
			div
				img(src=urlimg alt=alttext)
			div
				img(src="images/svg/programa-creser.svg" alt="Programa CreSer")
				h1= textobanner
			
			div.btn_donacion
				+btn-donar
				
			div.vigilada
				span Vigilada Mineducación




//- ----------------------------
//- ---------------------------- btn donar aqui ------------------------------- //
//- ----------------------------
mixin btn-donar
	div.btn_donar
		a Dona aquí
		div.resutltados.resultados_donar
			img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
			p Pronto podrás donar por este medio al Fondo de Becas de la Universidad El Bosque y así ayudar a jóvenes colombianos a cumplir su sueño de la educación superior.

//- ----------------------------
//- ---------------------------- Acordiones ------------------------------- //
//- ----------------------------

mixin acordion-1
	div.content-acordion.content_accordion_1
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Becas de excelencia académica - Permanencia.
		p Se adjudicará beca condonable no renovable hasta por el 50% del valor de la matrícula para el siguiente período académico, al estudiante que obtenga el mejor promedio de cada programa y que se encuentre cursando desde el primer hasta el último semestre, en los programas de pregrado.
		p En caso de encontrar dos o más estudiantes con igual promedio semestral del mismo programa, se escogerá al estudiante con mejor promedio ponderado de toda la carrera y en el caso de encontrar dos o más estudiantes con igual promedio ponderado, el beneficio se otorgará proporcionalmente entre los opcionados.
		p Podrá ser candidato y beneficiarse de esta beca el estudiante que cumpla con los siguientes requisitos generales:
		ul
			li Ser presentado ante el comité de becas y estímulos de la Universidad.
			li Estar a paz y salvo por todo concepto administrativo y financiero con la Universidad.
			li No registrar notificaciones disciplinarias durante toda la carrera.
			li Se adjudica por parte del comité de becas y estímulos dependiendo del presupuesto disponible de la Universidad.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			
			
			
mixin acordion-2
	div.content-acordion.content_accordion_2
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Becas para grupos especiales - Becas para grupos minoritarios.
		p Beca condonable y renovable hasta el 50% del valor de la matrícula, para facilitar el ingreso y permanencia para estudiantes que pertenezcan a poblaciones especiales (etnias) que sean admitidos en los diferentes programas de pregrado. Estas becas se adjudican por parte del comité de becas y estímulos dependiendo el presupuesto disponible de la Universidad.
		
		h3 Requisitos específicos
		ul
			li Además de cumplir con los requisitos académicos establecidos por la Universidad para su emisión, deberán acreditar su condición mediante certificación expedida por la autoridad competente. Esta solicitud y los documentos requeridos deben radicarse en el departamento de Finanzas Estudiantiles antes de iniciar el semestre académico.
			li Queda a juicio del comité de becas y estímulos adjudicar estos estímulos de conformidad con la disponibilidad del presupuesto y se dará renovación automática a la beca siempre y cuando el promedio académico sea superior a 3.8 y no tenga asignaturas perdidas.
			li Los beneficios se mantendrán a lo largo de la carrera, siempre y cuando el estudiante no pierda el período académico o el cupo, no haya tenido una sanción disciplinaria y haya cumplido con el número de horas de compensación exigido por la Universidad.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			
			
mixin acordion-3
	div.content-acordion.content_accordion_3
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Becas por mérito académico y necesidad socio económica - (anteriormente Apoyos Económicos)
		p Ayuda económica, que la Universidad proporciona a los estudiantes de pregrado que cursen desde segundo semestre en adelante, con mérito académico y comprobada necesidad socioeconómica, equivalente hasta con el 25% del valor de la matrícula, y podrán mediante revisión periódica ajustar estos porcentajes según la disponibilidad presupuestal del programa.
		p Estas becas son condonables y podrán ser de carácter renovable o no, de acuerdo a la disponibilidad de recursos del Fondo General de Becas de la Universidad y se mantendrán con el cumplimiento de los siguientes requisitos:
		
		ul
			li Obtener un promedio semestral igual o superior a 3.8, con respecto al semestre inmediatamente anterior a su aplicación.
			li No perder asignaturas.
			li No tener faltas disciplinarias.
			li Radicar en la Secretaria Académica de la Facultad correspondiente el formulario de solicitud debidamente diligenciado y adjuntando la documentación requerida.
			li Demostrar ante la Universidad a través de los mecanismos que ella establezca, su necesidad de apoyo económico para costear sus estudios.
			li Estar a Paz y Salvo con la Universidad, de conformidad con el documento que expedirá el Departamento de Finanzas Estudiantiles.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			
			
mixin acordion-4
	div.content-acordion.content_accordion_4
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Programa Semillas
		
		ul
			li Promedio acumulado mínimo 3.8.
			li No ser beneficiario de otra beca.
			li No haber perdido asignaturas.
			li Matricular todos los créditos.
			li Estar a paz y salvo con la Universidad.
			li No presentar fallas disciplinarias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			li Los beneficios económicos otorgados no son acumulables.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			
			
mixin acordion-5
	div.content-acordion.content_accordion_5
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Economía Naranja – Banco de Bogotá
		
		ul
			li Promedio acumulado mínimo 3.8.
			li No ser beneficiario de otra beca.
			li No haber perdido asignaturas.
			li Matricular todos los créditos.
			li Estar a paz y salvo con la Universidad.
			li No presentar fallas disciplinarias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			li Los beneficios económicos otorgados no son acumulables.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			li Buscamos apoyar las carreras en el marco de las industrias creativas y la cultura como un motor de desarrollo para el país.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			
			
			
mixin acordion-6
	div.content-acordion.content_accordion_6
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Becas al Talento – Fundación Bolívar Davivienda
		
		ul
			li Dirigido a estudiantes de pregrado.
			li Entre 5to y 8vo semestre.
			li Promedio superior acumulado a 3.8.
			li Matricular mínimo el 80% del total de los créditos del semestre.
			li Estén atravesando una coyuntura económica, que dificulta su continuidad en la Universidad.
			li El estudiante firmará un pagaré en blanco acompañado de un codeudor.
			li No es necesaria la validación del historial crediticio de ninguna de las partes (estudiante – codeudor)
			li El estudiante aporta el 10%(con el cual queda matriculado en la Universidad) y se entregará una beca - crédito a largo plazo condonable por el 90% del valor de la matrícula, en la cual:
			ul
				li 45 % es condonable
				li 45% es un crédito de largo plazo con la Universidad. 
			li TASA DE INTERÉS APLICABLE DTF + 2% EA. Pago de interseses mensuales sobre el saldo de capital de largo plazo.
			li En caso de pérdida del beneficio, el estudiante deberá pagar inmediatamente la totalidad de lo desembolsado.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			
			
			
mixin acordion-7
	div.content-acordion.content_accordion_1
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Aplica para: 
		
		ul
			li Bellas artes: Arte Dramático, Artes Plásticas, Formación Musical, Diseño Industrial
			li Económicas: Administración de empresas y Negocios internacionales
			li Educación: Licenciatura En Educación Infantil y Licenciatura En Bilingüismo Con Énfasis En Enseñanza Ingles
			li Salud: Enfermería y Odontología
			li Sociales: Derecho, Ciencia Política, Psicología y Psicología-Nocturna
			li Ingenierías: Ing. Sistemas Nocturna y Diurna, Ingeniería Electrónica Nocturna y Diurna, Ingeniería Electrónica, Ingeniería Ambiental, Bioingeniería e Ingeniería Industrial
			li Naturales: Biología
			
		h3 Requisitos: 
		
		ul
			li Ser admitido para primer semestre o estar cursando en la Universidad El Bosque una carrera de pregrado que sea financiable a través del Programa.
			li Presentar un responsable solidario quien también firmará el contrato y pagaré. No deben tener reportes negativos en centrales de riesgo. 
			li Sustentar necesidad económica, con ingresos familiares menor de 4 SMMLV
			
		p Aplica en: <a href="www.lumniportal.net" target="_blank">www.lumniportal.net</a>, selecciona Colombia y el Programa Todos en el Aula, diligencia el formulario completo y realiza la prueba de afinidad vocacional.  
		p Consulta todo sobre el programa escribiendo al correo: <a href="mailto:gina.garcía@lumni.net" target="_blank">gina.garcía@lumni.net</a>
		
		
		
mixin acordion-8
	div.content-acordion.content_accordion_2
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		
		ul
			li Ingresa a <a href="https://pichincha.credyty.com/" target="_blank">https://pichincha.credyty.com/</a>, regístrate y simula tu crédito.
			li Completa el formulario en línea y acepta los términos y condiciones.
			li Recibe respuesta inmediata, adjunta tu firma digital y selecciona tus preferencias de pago.
			li Consulta todo sobre esta opción escribiendo al correo: <a href="mailto:flor.vergara@pichincha.com.co" target="_blank">flor.vergara@pichincha.com.co</a>
			
			
mixin acordion-9
	div.content-acordion.content_accordion_3
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		
		ul
			li La información de cada una de  las líneas de créditos y la opción para aplicar se encuentra en: <a href="https://portal.icetex.gov.co/Portal/Home/HomeEstudiante/creditos-tu-eliges" target="_blank">https://portal.icetex.gov.co/Portal/Home/HomeEstudiante/creditos-tu-eliges</a>
			li Consulta mayor  información escribiendo al correo: <a href="mailto:asesorfinanzas3@unbosque.edu.co" target="_blank">asesorfinanzas3@unbosque.edu.co</a>
	
	
//- ----------------------------
//- ---------------------------- footer ------------------------------- //
//- ----------------------------

mixin footer
	footer
		hr
		p <b>Mayor información: <a href="mailto:apoyoseconomicos@unbosque.edu.co" target="_blank">apoyoseconomicos@unbosque.edu.co</a> <br/> Extensiones 1910 - 1124</b>
		
		
		
//- ----------------------------
//- ---------------------------- te puede interesar ------------------------------- //
//- ----------------------------

mixin te-puede-interesar
	section.interesar
		h1 Te puede interesar
		div.container_slider_video
		
			div.slider-videos
				div.video
					div.embed-container
						<iframe src="https://www.youtube.com/embed/lZSs6pogoPQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						
				div.video
					div.embed-container
						<iframe src="https://www.youtube.com/embed/l-CM-qnVl9g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						
			span.next1.slick-arrow
				img(src="../../images/svg/prev.svg" alt="prev")
			span.prev1.slick-arrow
				img(src="../../images/svg/next.svg" alt="next")
				
				
				
//- ----------------------------
//- ---------------------------- boton ODS ------------------------------- //
//- ----------------------------

mixin boton-ods
	div.btn_ODS
		img.logo_ODS(src="images/photos/educacion-calidad.png" alt="Educación de calidad")
		div.resutltados.resultados_ODS
			img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
			p Aportamos al desarrollo inclusivo del país a través de la Educación de Calidad con nuestros 33,344 egresados y nuestros 12,741 estudiantes de pregrados y posgrados.






