//- ----------------------------
//- ---------------------------- Acordiones ------------------------------- //
//- ----------------------------

mixin acordion-1
	div.content-acordion.content_accordion_1
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Becas de excelencia académica - Permanencia.
		p Se adjudicará beca condonable no renovable hasta por el 50% del valor de la matrícula para el siguiente período académico, al estudiante que obtenga el mejor promedio de cada programa y que se encuentre cursando desde el primer hasta el último semestre, en los programas de pregrado. Estas becas se adjudica con el reporte que notifica cada Unidad Académica del mejor promedio de toda la carrera. No se aplica de manera directa por los estudiantes
		p En caso de encontrar dos o más estudiantes con igual promedio semestral del mismo programa, se escogerá al estudiante con mejor promedio ponderado de toda la carrera y en el caso de encontrar dos o más estudiantes con igual promedio ponderado, el beneficio se otorgará proporcionalmente entre los opcionados.
		p Podrá ser candidato y beneficiarse de esta beca el estudiante que cumpla con los siguientes requisitos generales:
		ul
			li Ser presentado ante el comité de becas y estímulos de la Universidad.
			li Estar a paz y salvo por todo concepto administrativo y financiero con la Universidad.
			li No registrar notificaciones disciplinarias durante toda la carrera.
			li Se adjudica por parte del comité de becas y estímulos dependiendo del presupuesto disponible de la Universidad.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			
			
			
mixin acordion-2
	div.content-acordion.content_accordion_2
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Becas para grupos especiales - Becas para el postconflicto.
		p Beca condonable y renovable hasta el 90% del valor de la matrícula, para facilitar el ingreso y permanencia para estudiantes que hayan finalizado la ruta de la reintegración de forma exitosa, personas provenientes del programa de víctimas del gobierno nacional, a los huérfanos del ICBF y/o a ex miembros de la fuerza pública en situación de discapacidad, a sus familias, y a las viudas y huérfanos de la nación.
		p Estas becas serán otorgadas en alianza con entes gubernamentales y/u ONG's que además apoyen en la búsqueda de los beneficiarios y aseguren la idoneidad de sus perfiles.
		
		h3 Requisitos específicos
		ul
			li Además de cumplir con los requisitos académicos establecidos por la Universidad para su admisión, deberá acreditar su condición mediante certificación expedida por autoridad competente. 
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li Queda a juicio del Comité de Becas y Estímulos adjudicar estos estímulos de conformidad con la disponibilidad del presupuesto y para los siguientes semestres del programa académico, se adjudicarán siempre y cuando el rendimiento académico sea superior a 3.8 semestral y no tenga asignaturas perdidas.
			li Los beneficios se mantendrán a lo largo de la carrera, siempre y cuando el estudiante no pierda el período académico o el cupo, no haya tenido una sanción disciplinaria y haya cumplido con el número de horas de compensación exigido por la Universidad.
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			
		h3 Becas para grupos especiales - Becas para grupos minoritarios.
		p Beca condonable y renovable hasta el 50% del valor de la matrícula, para facilitar el ingreso y permanencia para estudiantes que pertenezcan a poblaciones especiales (etnias) que sean admitidos en los diferentes programas de pregrado. Estas becas se adjudican por parte del comité de becas y estímulos dependiendo el presupuesto disponible de la Universidad.
		
		h3 Requisitos
		ul
			li Además de cumplir con los requisitos académicos establecidos por la Universidad para  su emisión, deberán acreditar su condición mediante certificación expedida por la autoridad competente. Esta solicitud y los documentos requeridos deben radicarse en el departamento de Finanzas Estudiantiles antes de iniciar el semestre académico.
			li Queda a juicio del comité de becas y estímulos adjudicar estos estímulos de conformidad con la disponibilidad del presupuesto y se dará renovación automática a la beca siempre y cuando el promedio académico sea superior a 3.8 y no tenga asignaturas perdidas.
			li Los beneficios se mantendrán a lo largo de la carrera, siempre y cuando el estudiante no pierda el período académico o el cupo, no haya tenido una sanción disciplinaria y haya cumplido con el número de horas de compensación exigido por la Universidad.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			
			
mixin acordion-3
	div.content-acordion.content_accordion_3
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Becas por mérito académico y necesidad socio económica - (anteriormente Apoyos Económicos)
		p Ayuda económica, que la Universidad proporciona a los estudiantes de pregrado que cursen desde segundo semestre en adelante, con mérito académico y comprobada necesidad socioeconómica, equivalente hasta con el 25% del valor de la matrícula, y podrán mediante revisión periódica ajustar estos porcentajes según la disponibilidad presupuestal del programa.
		p Estas becas son condonables y podrán ser de carácter renovable o no, de acuerdo a la disponibilidad de recursos del Fondo General de Becas de la Universidad y se mantendrán con el cumplimiento de los siguientes requisitos:
		
		ul
			li Obtener un promedio semestral igual o superior a 3.8, con respecto al semestre inmediatamente anterior a su aplicación.
			li No perder asignaturas.
			li No tener faltas disciplinarias.
			li Radicar en la Secretaria Académica de la Facultad correspondiente el formulario de solicitud debidamente diligenciado y adjuntando la documentación requerida.
			li Demostrar ante la Universidad a través de los mecanismos que ella establezca, su necesidad de apoyo económico para costear sus estudios.
			li Estar a Paz y Salvo con la Universidad, de conformidad con el documento que expedirá el Departamento de Finanzas Estudiantiles.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			
			
mixin acordion-4
	div.content-acordion.content_accordion_4
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Programa Semillas
		
		ul
			li Promedio acumulado mínimo 3.8.
			li No ser beneficiario de otra beca.
			li No haber perdido asignaturas.
			li Matricular todos los créditos.
			li Estar a paz y salvo con la Universidad.
			li No presentar fallas disciplinarias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			li Los beneficios económicos otorgados no son acumulables.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			
			
mixin acordion-5
	div.content-acordion.content_accordion_5
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Economía Naranja – Banco de Bogotá
		
		ul
			li Promedio acumulado mínimo 3.8.
			li No ser beneficiario de otra beca.
			li No haber perdido asignaturas.
			li Matricular todos los créditos.
			li Estar a paz y salvo con la Universidad.
			li No presentar fallas disciplinarias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			li Los beneficios económicos otorgados no son acumulables.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			li Buscamos apoyar las carreras en el marco de las industrias creativas y la cultura como un motor de desarrollo para el país.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
			
			
mixin acordion-6
	div.content-acordion.content_accordion_6
		img.close-button(src="../../images/svg/x-btn.svg" alt="x-btn")
		h3 Becas al Talento – Fundación Bolívar Davivienda
		
		ul
			li Dirigido a estudiantes de pregrado. 
			li Entre 5to y 8vo semestre.
			li Promedio superior acumulado a 3.8.
			li Matricular mínimo el 80% del total de los créditos del semestre.
			li Estén atravesando una coyuntura económica, que dificulta su continuidad en la Universidad.
			li El estudiante firmará un pagaré en blanco acompañado de un codeudor.
			li No es necesaria la validación del historial crediticio de ninguna de las partes (estudiante – codeudor)
			li El estudiante aporta el 10%(con el cual queda matriculado en la Universidad) y se entregará una beca - crédito a largo plazo condonable por el 90% del valor de la matrícula, en la cual:
			ul
				li 45 % es condonable
				li 45% es un crédito de largo plazo con la Universidad. 
			li TASA DE INTERÉS APLICABLE DTF + 2% EA. Pago de interseses mensuales sobre el saldo de capital de largo plazo.
			li En caso de pérdida del beneficio, el estudiante deberá pagar inmediatamente la totalidad de lo desembolsado.
			li Aplicar y adjuntar documentos en el siguiente link <a href="https://forms.gle/iGotn6yUAHwn1L2U7" target="_blank">https://forms.gle/iGotn6yUAHwn1L2U7</a>
			li No se reciben aplicaciones luego de la fecha de cierre de las convocatorias.
			li En caso de ser otorgada alguna de las becas se debe cumplir con el programa de compensación de horas.
	
	